# Dependencies
node_modules/
client/node_modules/
server/node_modules/
dist/

# Local Environment
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Testing
coverage/
/test/
server/test/
server/src/test/

# Editor/OS
.DS_Store
.vscode/
.idea/
*.swp
*.bak

# Build artifacts
*.tsbuildinfo

# Local files
plan.md
.agents/*
todo.md
